.landing {
    // position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #1C1D20;

    .sliderContainer {
        // position: absolute;
        // top: calc(100vh - 350px);
        // left: 50%;
        // position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    @media screen and (max-width: 768px) {
        .sliderContainer {
            top: 50%;
            left: 50%;
            transform: translate(-42%, -50%);
        }

    }

    .slider {
        position: relative;
        white-space: nowrap;
    }

    .slider p {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-self: center;
        align-items: center;
        position: relative;
        margin: 0px;
        color: white;
        font-size: 150px;
        font-weight: 500;
        // padding-right: 50px;
        text-align: center;
        line-height: 140px;
        text-transform: uppercase;
    }


    @media screen and (max-width: 1024px) {
        .slider p {
            font-size: 120px;
            line-height: 120px;
            padding-right: 0px;
        }
        
    }

    @media screen and (max-width: 768px) {
        .slider p {
            font-size: 85px;
            line-height: 90px;
            padding-right: 0px;
        }

        .landing {
            height: max-content;
        }

    }

    @media screen and (max-width: 480px) {
        .slider p {
            font-size: 40px;
            line-height: 50px;
            padding-right: 0px;
        }

        .landing {
            height: max-content;
        }

    }





    //   .slider p:nth-of-type(2){
    //     position: absolute;
    //     left: 100%;
    //     top: 0;
    //   }
}